<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <script th:src="@{/static/jquery.js}"></script>
</head>
<body>
<div id="image"></div>
<input type="text" id="processInstanceId"><button id="getImg">获取流程图</button>
</body>
<script>

$("#getImg").click(function(){
    $.ajax({
        type:"get",
        url:"/processImg/"+$("#processInstanceId").val(),
        success:function(data){
            console.log(data);
            $("#image").html(data);
        }
    });
});


</script>
</html>